.theme-dark {
    --bg-main: #101010;
    --text-main: #fff;
    --card-bg: #1f1f25;
    --input-bg: #2c2c2c;
    --box-shadow: none;
  }
  .theme-light {
    --bg-main: #fff;
    --text-main: #181316;
    --card-bg: #ffffff;
    --input-bg: #d4d4d6;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: var(--text-main);
    min-height: 100vh;
    background-color: var(--bg-main);
}

#ticket-bg {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ticket-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticket-card {
    background: var(--card-bg);
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 2px 12px 0 #00000055;
    min-width: 320px;
    max-width: 370px;
    width: 100%;
    margin-bottom: 0.5rem;
}
.ticket-info {
    background: var(--card-bg);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
#ticket-products {
    margin-bottom: 0.5rem;
}
.ticket-product-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--card-bg);
    border: 1.2px solid #2c070f;
    border-radius: 1rem;
    padding: 1.1rem 2rem 1.1rem 1.5rem;
    margin-bottom: 1.2rem;
    min-height: 70px;
    box-sizing: border-box;
    transition: box-shadow 0.15s;
}
.ticket-product-item:last-child {
    margin-bottom: 0.2rem;
}
.ticket-product-name {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--text-main);
    margin-bottom: 0.2rem;
    display: block;
}
.ticket-product-details {
    color: #bfc2c8;
    font-size: 0.80rem;
    margin-top: 0.15rem;
    display: block;
}
.ticket-product-subtotal {
    color: #ffc107;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 1.5rem;
    align-self: center;
}

@media (max-width: 600px) {
    .ticket-product-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0.7rem 1rem 1rem;
    }
    .ticket-product-subtotal {
        margin-left: 0;
        margin-top: 0.7rem;
        align-self: flex-end;
    }
}
.ticket-product-name {
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-main);
}
.ticket-product-price {
    color: #ffc107;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 0.7rem;
}
.ticket-product-qty {
    color: #7e7e7e;
    font-size: 0.95rem;
    margin-left: 0.5rem;
}
.ticket-total-wrapper {
    margin-top: 1.5rem;
}
@media (max-width: 600px) {
    .ticket-card {
        min-width: 94vw;
        max-width: 98vw;
        padding: 1.2rem 0.5rem;
    }
    .ticket-card-wrapper {
        padding: 0 0.2rem;
    }
    #ticket-bg {
        padding: 0;
    }
}
